body {
  /* background: blue; */
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

object {
  width: 100%;
  height: 5em;
  /* background-color: red; */
  padding: 0;
  margin: 0;
}

.map {
  width:100%;
  height: 80vw;
  min-height: 300px;
  border: 0;
}

.original-frame {
  border: 2px solid hsl(0, 0%, 75%);
  width: 100%;
  height: 40vw;
}

.spacer {
  margin: 40px 20px 20px 20px;
  padding-top: 0;

  border-top: 1px solid hsl(0, 0%, 75%);
}

.spacer:nth-child(1) {
  border-top: 0px solid hsl(0, 0%, 75%);
}

.contact {
  background-color: hsl(0, 0%, 95%);
  margin: 10px;
  padding: 20px 0px 20px 50px;
  width: 50%;
  min-width: 20em;
  color: hsl(0, 0%, 30%);
}

.contact li {
  list-style-type: none;
  padding: 5px;
}

h1 {
  text-indent: 2em;
  font-size: 1.5em;
}

a {
  color: rgb(150,150,250);
  text-decoration: none;
}

a:hover {
  color: rgb(100,100,200);
  text-decoration: underline;
}
